<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Angulars Material CSS using RawGit to load directly from `bower-material/master` -->
    <link rel="stylesheet" href="//rawgit.com/angular/bower-material/master/angular-material.css">

    <link href="css/global.css" rel="stylesheet">
    <link href="css/pattern-builder.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
    <script src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js"></script>

    <script src="js/pattern-builder.js"></script>
</head>
<body ng-app="pattern-builder" ng-controller="pattern-builder-controller">
    <div id=" app-container" layout="row" ng-controller="side-nav-controller">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-toolbar>
            <h2 class="md-toolbar-tools">Menu</h2>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="side-nav-controller">
            <span>Default Color</span>
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-pencil fa-2x" ng-click="editColor(defaultColor)" style="margin-top:15px"></i>
                </div>
                <div flex="80" class="color-pallette" style="background-color: rgb({{defaultColor.red}},{{defaultColor.green}},{{defaultColor.blue}});"></div>
            </div>
            <span>Pallette</span>
            <div ng-repeat="color in pallette" ng-include="'templates/pallette-color.html'"></div>
            <span>Rows</span>
            <md-slider flex min="1" max="25" ng-model="gridInfo.rowCount" aria-label="row count">
            </md-slider>
            <span>Columns</span>
            <md-slider flex min="1" max="25" ng-model="gridInfo.columnCount" aria-label="column count">
            </md-slider>
        </md-content>
    </md-sidenav>
    <md-content id="page-content">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button hide-gt-md ng-click="openLeftMenu()">
                    <i class="fa fa-bars fa-2x"></i>
                </md-button>
                <h2>Pattern Builder</h2>
                <div id="selected-color" ng-model="selectedColor" style="background-color: rgb({{selectedColor.red}},{{selectedColor.green}},{{selectedColor.blue}});"></div>
            </div>
        </md-toolbar>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" id="pattern-canvas">
                <g ng-repeat="row in grid.rows" ng-include="'templates/rect.html'"/>
            </svg>
        </div>
    </md-content>
    </div>
</body>
</html>