<md-content class="md-padding">
    <md-checkbox ng-model="allSelected" aria-label="Select All">
      Select All
    </md-checkbox>
    <div layout="row" layout-wrap ng-model="users" ng-include="'team-builder/templates/team-member-select.html'"></div>
    <md-button id="generate-teams" class="md-raised md-accent" ng-click="generateTeams()">Generate Teams</md-button>
    <div id="teams" layout="row">
      <div id="team-one" flex="50">
        <h1>Team One</h1>
        <div ng-repeat="player in teamOne" ng-include="'team-builder/templates/team-member.html'"></div>
      </div>
      <div id="team-two" flex="50">
        <h1>Team Two</h1>
        <div ng-repeat="player in teamTwo" ng-include="'team-builder/templates/team-member.html'"></div>
      </div>
    </div>
</md-content>
