<md-dialog aria-label="Edit Rating Type {{selectedRatingType.Name}}">
    <md-content>
        <md-subheader class="md-sticky-no-effect">Edit Rating Type {{selectedRatingType.Name}}</md-subheader>
        <md-input-container>
            <label>Name</label>
            <input ng-model="selectedRatingType.Name">
        </md-input-container>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="saveRatingType()" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>